.change-password {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 45%;
  justify-content: space-between;
  align-items: center;
}

.change-password-error-msg {
  display: flex;
  color: red;
}

.change-password-error-msg-hide {
  display: none;
}

.change-password-btn {
  background-color: #222222 !important;
  border: none !important;
  text-decoration: none !important;
  outline: none !important;
  width: 80%;
}